*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared styles  */

body {
    font-family: Arial, sans-serif;
    color: #000000;
    line-height: 1.6;
}

.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.btn{
    padding: 12px 30px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    display: inline-block;
    background-color: #30B868;
    color: white;
}

/* nav styles */

.navbar{
    background-color: white;
    padding: 20px 0;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo img{
    height: 40px;
    width: auto;
}

.nav-menu{
    display: flex;
    list-style: none;
    gap: 40px;
}

.nav-menu a{
    color: #000000;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
}

.nav-menu a:hover{
    color: #30B868;
}